alias a='alias'

# Editing dotfiles and automatically sourcing them
alias s='source ~/.zshrc;'
alias vs='vim -O ~/.zshrc-local ~/src/dotfiles/.zshrc && s'
alias va='vim ~/.aliases && s'
alias vimcfg='vim ~/src/dotfiles/.vimrc'
alias e='emacs'

# ls aliases
#alias ls='ls --color=auto'
alias ls='ls -G'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias sl=ls

# Git shortcuts
alias g='git'
alias gs='git st'
alias gl='git lg'
alias gci='git ci -m'
alias gca='git ci --amend'
alias gd='git diff'


# ag smart case search
alias ag='ag -S'

# Don't accidentally push things (this is in zsh git plugin)
unalias gp


alias rbenv='RUBY_CONFIGURE_OPTS=--with-readline-dir="$(brew --prefix readline)" rbenv install --verbose'
