alias a='alias'

# Editing dotfiles and automatically sourcing them
alias s='source ~/.zshrc;'
alias vs='vim -O ~/.zshrc-local ~/src/dotfiles/.zshrc && s'
alias va='vim ~/.aliases && s'
alias vimcfg='vim ~/src/dotfiles/.vimrc'
alias e='emacs'

# ls aliases
#alias ls='ls --color=auto'
alias ls='ls -G'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias sl=ls

# Git shortcuts
alias g='git'
alias gs='git st'
alias gl='git lg'
alias gci='git ci -m'
alias gca='git ci --amend'
alias gco='git co'
alias gd='git diff'
alias ga='git add'

# Find all todos in a git repository authored by the current user.
# Based on answers in here, but with better paren handling: https://stackoverflow.com/questions/25039242/how-to-list-all-my-todo-messages-in-the-current-git-managed-code-base
alias todo-gitgrep='git grep -l TODO | xargs -n1 git blame -f -n -w | grep "$(git config user.name)" | grep TODO | sed "s/.\{9\}//" | sed "s/([^)]*)[[:space:]]*//"'

# ag smart case search
alias ag='ag -S'

# Don't accidentally push things (this is in zsh git plugin)
# also don't alert if the alias doesn't exist
unalias gp &>/dev/null

# Fix for rbenv install not showing output
# https://github.com/rbenv/ruby-build/issues/1064
alias rbi='RUBY_CONFIGURE_OPTS=--with-readline-dir="$(brew --prefix readline)" rbenv install --verbose'

# Find all installed javas
alias javahome='/usr/libexec/java_home -V'
