.ICEauthority
.Xauthority
.bash_logout
.cache/ctrlp/mru/cache.txt
.config/Trolltech.conf
.config/*
.dbus/session-bus/2186ba494c063de5369b637250d389ae-0
.dmrc
.gconf/apps/%gconf.xml
.gconf/apps/nm-applet/%gconf.xml
#	.gitignore
.gnome2/Vim
.gstreamer-0.10/registry.x86_64.bin
.linuxmint/*
.local/*
.mateconf/*
.mozilla/*
.profile
.pulse-cookie
.pulse/*
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.vim/bundle/*
.viminfo
.xsession-errors
