[user]
	email = martin.woz@gmail.com
	name = Martin Wozniewicz
[credential]
	helper = store
[alias]
  br = branch
  ci = commit
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
