set hlsearch
set ignorecase
set incsearch
set smartcase
set surround

nmap <C-b> <C-]>

set clipboard+=unnamedplus

" source:
" https://github.com/beloglazov/vimrc/blob/master/.ideavimrc
" ============================================================================
" Editor control
" ============================================================================

" Enter the command-line mode
noremap <CR> :

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>


" ============================================================================
" IDE actions
" ============================================================================

"nnoremap <C-f> :action Dart.DartSortMembers<CR>
"nnoremap <C-f> :action Dart.DartStyle<CR>

"nnoremap / :action Find<CR>
"nnoremap n :action FindNext<CR>
"nnoremap N :action FindPrevious<CR>
nnoremap U :action $Redo<CR>
nnoremap ; :action AceJumpAction<CR>
nnoremap <Space>o :action GotoClass<CR>
nnoremap <Space>O :action GotoFile<CR>
nnoremap <Space>d :action CloseContent<CR>
nnoremap <Space>j :action RecentFiles<CR>
nnoremap <Space>k :action FileStructurePopup<CR>
nnoremap <Space>h :action QuickJavaDoc<CR>

" Uses the wrap to column plugin to make vim-wrapping work https://plugins.jetbrains.com/plugin/7234-wrap-to-column
nmap gqq :action com.andrewbrookins.idea.wrap.WrapAction<CR>
vmap gq :action com.andrewbrookins.idea.wrap.WrapAction<CR>

set visualbell
set noerrorbells
